@charset "utf-8";

#dropMenu{
			list-style-type: none;
			/*width: 1200px;*/
			/*width: 900px;*/
			width: 100%;
			height: 40px;
			/*margin: 30px auto 300px;*/
			margin: 10px auto 10px;
			padding: 0;
			/*background: darkcyan;*/
			/*border-bottom: 5px solid #535d09;*/
			border-bottom:inset 5px blue;
			border-radius: 3px 3px 0 0;
			color: white;
		}
#dropMenu li{
			position: relative;
			/*position: absolute;*/
			width: 25%;
			float: left;
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: x-large;
			font-family: Impact,Charcoal;
			}
#dropMenu a{text-decoration: none;}
#dropMenu a:link{color:darkgoldenrod;}
#dropMenu a:visited{	color:darkgoldenrod;}
#dropMenu a:hover{color:khaki;}