#AboutMe{
	/*clear:both;*/
	/*clear:left;*/
	float:left;
	background-color:while;
	width:375px;
	height:240px;
	margin: 0 0 0 0;
	
	/*border-left:10px solid #ccc;*/
	/*border-right:3px dashed #ccc;*/
	/*border-top:3px dashed #ccc;*/
	border-bottom:3px dashed #ccc;
	/*
	border: 1px solid blue;
	*/
}
#AboutMe h1{
	/*border-left:1px solid #ccc;*/
	/*border-right:3px dashed #ccc;*/
	/*border-top:3px dashed #ccc;*/
	width:200px;
	border-bottom:3px dashed #ccc;
	margin:5px;
}
#Photo{
	float:left;
	background-color:while;
	width:500px;
	height:235px;
	margin: 0 0 0 0;
	/*border: 3px solid red;*/
	/*border-left:10px solid #ccc;*/
	/*border-right:3px dashed #ccc;*/
	/*border-top:3px dashed #ccc;*/
	border-bottom:3px dashed #ccc;
	margin:5px;
}


#ToeicResume{
	/*clear:both;*/
	/*clear:left;*/
	float:left;
	background-color:while;
	width:595px;
	height:600px;
	margin: 0 0 0 0;
	/*border: 1px solid blue;*/
}

#ToeicResume h1{
	width:200px;
	border-bottom:3px dashed #ccc;
}

#Ad{
	float:left;
	background-color:while;
	width:295px;
	height:600px;
	margin: 0 0 0 0;
	/*border: 1px solid lime;*/
}